__pycache__
db.sqlite3
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3-journal
media
schema.yml
map_15-6-25.xml
nodes.xml
ways.xml
relations.xml
filtered_ways.xml
filtered_street_nodes.xml
routes_with_coordinates.json
*.json
*.xml
tesis_dump4.sql
